<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
<table style="width : 600px">
  <tr style="text-align : center; font-weight: bold;">
    <td colspan="3" style="border: 2px solid #ddd">Список сетевый Ресурсов ЦТС</td>
  </tr>
  <tr style="text-align : center; font-weight: bold;">
    <td>Имя группы</td>
    <td>Сетевой диск</td>
    <td>Путь</td>
  </tr>
  <tr style="text-align : center">
    <td>UsersCTS</td>
    <td>m</td>
    <td>\\ctspol-fs\pub</td>
  </tr>
  <tr style="text-align : center">
    <td>VC</td>
    <td>u</td>
    <td>\\ctspol-fs\oit</td>
  </tr>
  <tr style="text-align : center">
    <td>Бухгалтерия</td>
    <td>u</td>
    <td>\\ctspol-fs\buhgalter</td>
  </tr>
  <tr style="text-align : center">
    <td>Зарплата</td>
    <td>t</td>
    <td>\\ctspol-fs\zarplata</td>
  </tr>
  <tr style="text-align : center">
    <td>PFond</td>
    <td>w</td>
    <td>\\ctspol-fs\pfond</td>
  </tr>
  <tr style="text-align : center">
    <td>ГОСТ</td>
    <td>n</td>
    <td>\\ctspol-fs\gost</td>
  </tr>
  <tr style="text-align : center">
    <td>ЦПВС</td>
    <td>u</td>
    <td>\\ctspol-fs\upvs</td>
  </tr>
  <tr style="text-align : center">
    <td rowspan="2">Управление</td>
    <td>u</td>
    <td>\\ctspol-fs\upr</td>
  </tr>
  <tr style="text-align : center">
    <td>y</td>
    <td>\\ctspol-fs\DogovorService</td>
  </tr>
  <tr style="text-align : center">
    <td>Диагносты</td>
    <td>u</td>
    <td>\\ctspol-fs\diag</td>
  </tr>
  <tr style="text-align : center">
    <td>Кадры</td>
    <td>u</td>
    <td>\\ctspol-fs\opp</td>
  </tr>
  <tr style="text-align : center">
    <td rowspan="2">ЛНК</td>
    <td>u</td>
    <td>\\ctspol-fs\ctd</td>
  </tr>
  <tr style="text-align : center">
    <td>h</td>
    <td>\\cts-hmelev\$ACT</td>
  </tr>
  <tr style="text-align : center">
    <td rowspan="2">МТО</td>
    <td>u</td>
    <td>\\ctspol-fs\mto</td>
  </tr>
  <tr style="text-align : center">
    <td>r</td>
    <td>\\ctspol-fs\1cData</td>
  </tr>
  <tr style="text-align : center">
    <td>ОАиРСУ</td>
    <td>u</td>
    <td>\\ctspol-fs\calc</td>
  </tr>
  <tr style="text-align : center">
    <td>Плановый</td>
    <td>u</td>
    <td>\\ctspol-fs\Planovik</td>
  </tr>
  <tr style="text-align : center">
    <td>ПТО</td>
    <td>u</td>
    <td>\\ctspol-fs\pto</td>
  </tr>
  <tr style="text-align : center">
    <td>РМЦ</td>
    <td>u</td>
    <td>\\ctspol-fs\rmc</td>
  </tr>
  <tr style="text-align : center">
    <td>ДМО</td>
    <td>w</td>
    <td>\\ctspol-fs\DMO</td>
  </tr>
  <tr style="text-align : center">
    <td rowspan="2">СметноТехнолГруппа</td>
    <td>u</td>
    <td>\\ctspol-fs\STG</td>
  </tr>
  <tr style="text-align : center">
    <td>n</td>
    <td>\\ctspol-fs\StroyConsultant</td>
  </tr>
  <tr style="text-align : center">
    <td>СПБ</td>
    <td>u</td>
    <td>\\ctspol-fs\spb</td>
  </tr>
  <tr style="text-align : center">
    <td>ЦАП</td>
    <td>u</td>
    <td>\\ctspol-fs\cap</td>
  </tr>
  <tr style="text-align : center">
    <td>ЭЦ</td>
    <td>u</td>
    <td>\\ctspol-fs\energo</td>
  </tr>
  <tr style="text-align : center">
    <td>Юристы</td>
    <td>u</td>
    <td>\\ctspol-fs\Jurists</td>
  </tr>
  <tr style="text-align : center">
    <td rowspan="2">Bank</td>
    <td>p</td>
    <td>\\ctspol-fs\Bank</td>
  </tr>
  <tr style="text-align : center">
    <td>x</td>
    <td>\\ctspol-fs\uralfd</td>
  </tr>
  <tr style="text-align : center">
    <td>ЭнергоСлужба</td>
    <td>s</td>
    <td>\\ctspol-fs\en_sl</td>
  </tr>
  <tr style="text-align : center">
    <td>SPED</td>
    <td>s</td>
    <td>\\ctspol-fs\sped</td>
  </tr>
  <tr style="text-align : center">
    <td>ДДС</td>
    <td>z</td>
    <td>\\ctspol-fs\dds</td>
  </tr>
  <tr style="text-align : center">
    <td>PP</td>
    <td>r</td>
    <td>\\ctspol-fs\pp</td>
  </tr>
</table>
  </body>
</html>
